* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
html {
    font-family: courier;
    box-sizing: border-box;
}

#initial {
    margin-bottom: 10px;
}

#grid {
    width: 100%;
    height: 100%;
}
#controls {
    position: absolute;
    top: 20px;
    left: 20px;
    background-color: rgba(93, 93, 93, 0.82);
    padding: 20px;
    color: #CA4141;
}

#controls div:not(:first-child) {
    margin-top: 10px;
}

#controls input[type=number] {
    width: 45px;
    background-color: #DCDCDC;
    border: none;
    padding: 5px;
    box-sizing: border-box;
}

#clear {
    background-color: #C74040;
    border: none;
    padding: 5px 9px 9px 9px;
    font-size: 17px;
    font-variant: small-caps;
    margin-top: 10px;
    color: #DCDCDC;
    outline: none;
}

.hidden {
    display: none;
}
